*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  background-color: $grayBackground;
  font-family: $mainFont;
  //   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  //     "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  //     sans-serif;
  //   -webkit-font-smoothing: antialiased;
  //   -moz-osx-font-smoothing: grayscale;
}

// code {
//   font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
//     monospace;
// }

button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.main-layout {
  display: grid;
  height: 100vh;
  grid-template-columns: 6.2rem 1fr;

  @include onethousand {
    grid-template-columns: minmax(min-content, max-content) 1fr;
  }
}

.main-content {
  overflow-y: scroll;
  grid-column: 2/3;

  &.search {
    min-width: 946px;
  }

  &.upload-tax {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    overflow-y: hidden;
    flex-direction: column;
    width: 100%;
    padding: 3.2rem;

    .main-content-container {
      width: 95%;
      height: 95%;
      padding: 0;
    }
  }
}

.main-content-container {
  border-radius: $boder-radius;
  background-color: $white;
  padding: $baseUnit * 2;
  margin: $baseUnit * 2 $baseUnit * 2 $baseUnit * 2 20px;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

input {
  border: none;
  outline: none;
  caret-color: #1f69fc;
}

li {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}

.header {
  margin-bottom: $baseUnit * 2;
}
