// Colors
$blueBackground: linear-gradient(
  0deg,
  rgb(80, 137, 184) 0%,
  rgba(58, 57, 255, 1) 100%
);
$white: #fff;
$black: #24292e;
$grayBackground: #eef3f9;
$green: #00ca80;

// Base Unit
$baseUnit: 1.6rem;

// Fonts
$mainFont: "Montserrat", sans-serif;
$thin: 100;
$regular: 400;
$bold: 700;

// border
$boder-radius: 8px;
