.toast {
  z-index: 10;
  position: fixed;
  right: 0;
  text-align: left;
  padding: 21px 0;
  background-color: #fff;
  border-radius: 4px;
  max-width: 500px;
  top: 0px;
  box-shadow: 1px 7px 14px -5px rgba(0, 0, 0, 0.2);
  opacity: 1;

  &.toast--green {
    .toast__icon {
      background-color: #00c97f;
    }

    &::before {
      background-color: #00c97f;
    }
  }

  &.toast--red {
    .toast__icon {
      background-color: #ff5571;
    }

    &::before {
      background-color: #ff5571;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 100%;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  .toast__svg {
    fill: #fff;
    width: 14px;
    height: 14px;
  }

  .toast__icon {
    position: absolute;
    top: 50%;
    left: 22px;
    transform: translateY(-50%);
    width: 28px;
    height: 28px;
    padding: 7px;
    border-radius: 50%;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .toast__type {
    color: #3e3e3e;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 8px;
  }

  .toast__message {
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 0;
    color: #878787;
    display: flex;
    flex-direction: column;
    font-weight: 400;

    .toast__message--primary {
      font-weight: 700;
    }
  }

  .toast__content {
    padding-left: 70px;
    padding-right: 60px;
  }

  .toast__close {
    position: absolute;
    right: 22px;
    top: 50%;
    width: 14px;
    cursor: pointer;
    height: 14px;
    fill: #878787;
    transform: translateY(-50%);
  }
}

.alert-enter {
  opacity: 0;
  transform: scale(0.9);
}
.alert-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.alert-exit {
  opacity: 1;
}
.alert-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}
