.search-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: $baseUnit * 2;
  height: 3.5rem;
}

.add-btn {
  border-radius: $boder-radius;
  background-color: $green;
  font-size: 1.2rem;
  padding: $baseUnit/1.5 $baseUnit * 1.5;
  color: white;
  cursor: pointer;
  transition: filter 500ms;

  &:hover {
    filter: brightness(1.2);
  }
}

.search-inputs {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.search-input-container {
  background-color: $backgroundInput;
  padding: $baseUnit/2 $baseUnit/1.5;
  border-radius: $boder-radius;
  min-height: 3.5rem;
  max-height: 3.5rem;
  display: flex;
  align-items: center;

  i {
    margin-right: $baseUnit;
    color: #c0c4e0;
  }

  .search-input {
    background-color: transparent;
    width: 25rem;
    font-size: 1.3rem;
    color: #70789e;
    font-weight: $bold;
    font-size: 1.3rem;

    @include onethousand {
      width: 30rem;
    }

    &::placeholder {
      color: #70789e;
      font-weight: $bold;
      font-size: 1.3rem;
    }
  }
}

.filter-relative-container {
  position: relative;

  &.status {
    width: 12rem;

    @include onethousand {
      width: 14rem;
    }
  }

  &.department {
    width: 14rem;
  }
}

.sort-relative-container {
  position: relative;
  width: 22rem;
}

.search-filter-container {
  min-height: 3.5rem;
  max-height: 3.5rem;
  border-radius: $boder-radius;
  position: absolute;
  background-color: $backgroundInput;
  overflow: hidden;
  transition: 0.3s all ease-in-out;

  &.filter {
    max-width: 12rem;
    min-width: 12rem;

    @include onethousand {
      max-width: 14rem;
      min-width: 14rem;
    }
  }

  &.sort {
    max-width: 22rem;
    min-width: 22rem;
  }

  &.department {
    max-width: 14rem;
    min-width: 14rem;
  }

  &::after {
    content: "";
    position: absolute;
    border: solid #c0c4e0;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    top: calc(1.75rem - 0.65rem);
    right: 2rem;
    cursor: pointer;
    z-index: 1;
  }

  li {
    position: relative;
    display: flex;
    min-height: 3.5rem;
    max-height: 3.5rem;
    padding-left: 2rem;
    align-items: center;
    cursor: pointer;
    color: #70789e;
    font-weight: $bold;
    font-size: 1.3rem;
    z-index: 2;
  }
}

.search-filter-container.expanded {
  // position: absolute;
  &.filter {
    min-height: 14rem;
    max-height: 14rem;
  }

  &.sort {
    min-height: 24.5rem;
    max-height: 24.5rem;
  }

  &.department {
    min-height: 17.5rem;
    max-height: 17.5rem;
  }

  li {
    border-bottom: 2px solid #c0c4e0;
    border-right: 2px solid #c0c4e0;
    border-left: 2px solid #c0c4e0;
    padding-left: calc(2rem - 2px);

    &.selected::after {
      content: "";
      position: absolute;
      height: 1rem;
      width: 1rem;
      background-color: $green;
      border-radius: 50%;
      display: inline-block;
      //   top: calc(1.75rem - 0.65rem);
      margin: auto;
      top: 0;
      bottom: 0;
      right: 2rem;
    }

    &:last-of-type {
      border-bottom-left-radius: $boder-radius;
      border-bottom-right-radius: $boder-radius;
    }

    &:first-of-type {
      border-top-left-radius: $boder-radius;
      border-top-right-radius: $boder-radius;
      border-top: 2px solid #c0c4e0;
    }
  }
}
